html {
    scroll-behavior: smooth;
}
body {
  background-image: url(Img/parchment\ bg2.jpg);
}
h1 {
    font-family: "Zeyada", cursive;
    font-size: 50px;
    color: maroon;
    text-align: center;
    /* margin-top: 100px; */
}

.branding {
    padding-top: 10rem;
    padding-bottom: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: rgba(128, 0, 0, 0.427);
    font-family: "Zeyada", cursive;
    font-size: 200px;
    text-align: center;
}

.bi {
    padding-bottom: 3.1rem;
  }

p {
    font-family: "Gowun Batang", serif;
    font-weight: bold;
    font-style: normal;
    font-size: large;
    color: maroon;
    text-align: center;
    padding-bottom: 5rem;
}


/* GO HOME */

.btn {
    border-radius: 1rem;
    line-height: 1;
    background-color: maroon;
    width: 25%;
    align-items: center;
    margin: auto;
    font-family: "Gowun Batang", serif;
    font-size: larger;
    font-weight: bold;   
  }
  
  .btn a {
    padding: 6px 12px;
    text-decoration: none;
    color: bisque;
    display: block;
    text-align: center;
  }
  
  .btn a:hover {
    color: maroon;
    font-weight: bolder;
  }
  .btn:hover {
    background-color: white;
    box-shadow:
      0 0 30px 15px white,  /* inner white */
      0 0 50px 30px gold, /* middle magenta */
      0 0 70px 45px white; /* outer cyan */
  }

  .copyright {
    color: maroon;
    text-align: center;
    font-size: small;
  }